In [4]:
import numpy as np
import pandas as pd

Joining season stats together into one table

In [7]:
df_2122 = pd.read_csv("21-22Reg.csv", sep=";", encoding='latin1')
df_2122["Szn"] = "21-22"

df_2223 = pd.read_csv("22-23Reg.csv", sep=";", encoding='latin1')
df_2223["Szn"] = "22-23"

df_2324 = pd.read_csv("23-24Reg.csv", sep=";", encoding='latin1')
df_2324["Szn"] = "23-24"

df_all = pd.concat([df_2122, df_2223, df_2324], ignore_index=True)

df_all.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Szn
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,...,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1,21-22
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,...,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9,21-22
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,...,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1,21-22
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,...,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1,21-22
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,...,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9,21-22